<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<root level="ERROR">
		<appender-ref ref="CONSOLE"/>
	</root>
	<logger name="com.github.ricardocomar" level="DEBUG"/>
	<logger name="org.springframework" level="warn"/>
	<logger name="org.apache.kafka" level="error"/>
	<logger name="kafka" level="error"/>
</configuration>